.codeContainer {
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.codeHeaderExt {
  background: #f1f1f1;
  border: 1px solid #ddd;
}

.codeHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 20px;
}

.codeHeader span {
  color: #5b5b5b;
}

.codeHeaderBtnContainer {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 0;
}

.codeHeaderbutton {
  padding: 5px;
  border: none;
}

.codeHeaderbutton svg {
  width: 22px;
  height: 22px;
}

.codeHeaderbutton:hover {
  opacity: 1;
}

pre {
  background: #f5f5f5;
  padding: 30px 16px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: auto;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.paddingTop {
  padding-top: 65px;
}

.copyNotification {
  display: inline-block;
  background-color: #e0e0e0;
  align-content: center;
  color: #014075;
  padding: 3px 10px;
  border-radius: 12px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  transition: opacity 0.3s;
  margin: 2px 3px;
}
