.container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.playgroundContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  gap: 20px;
}

.leftSection,
.rightSection {
  flex: 1;
}

.table-container,
.pre-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
  height: 20px;
}

th {
  background-color: #f4f4f4;
}

@media (min-width: 768px) {
  .playgroundContainer {
    flex-direction: row;
  }

  .leftSection,
  .rightSection {
    height: auto;
  }

  .rightSection {
    position: relative;
  }
}

@media (max-width: 767px) {
  .rightSection {
    position: fixed;
    width: 90%;
    background-color: #fff;
    top: 60px;
  }

  .leftSection {
    margin-top: 135px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}
