.container {
  padding-top: 40px;
}

.playgroundContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.leftSection,
.rightSection {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}

.table-container,
.pre-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
  height: 20px;
}

th {
  background-color: #f4f4f4;
}

@media (min-width: 768px) {
  .playgroundContainer {
    flex-direction: row;
  }

  .leftSection,
  .rightSection {
    height: auto;
  }
}
